@media only screen and (min-width: 320px) and (max-width: 767px) {

    .navbar-toggler {
        background: #ffffff;
        padding: 2px 5px;
    }

    ul.navbar-nav {
        background: #1f1ec5;
        padding: 15px 15px;
    }

    #body>section {
        position: relative;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .text-end {
        display: none;
    }

    .hero-banner-info-box>h1 {
        font-size: 20px;
    }

    .hero-banner-info-box>h5 {
        font-size: 15px;
    }

    .heading-group>h2 {
        font-size: 22px;
        line-height: 30px;
    }

    .heading-group>h6 {
        font-size: 14px;
        line-height: 24px;
    }

    .about-section p {
        font-size: 14px;
        line-height: 24px;
        padding: 0 0;
    }

    ul.supported-list {
        margin-bottom: 0;
    }

    ul.supported-list>li:nth-of-type(1) {
        display: block;
        margin-bottom: 2em;
    }

    .display-flex {
        display: block;
    }

    .we-do-info-box {
        padding-left: 0;
        padding-top: 2em;
        text-align: center;
        padding-bottom: 2em;
    }

    .we-do-box-section>.we-do-box-wrap:nth-of-type(even) .we-do-info-box {
        padding-right: 0;
        padding-top: 2em;
        text-align: center;
    }

    .about-img-box>.img-one,
    .about-img-box>.img-two,
    .about-img-box>.img-three {
        left: 0;
        margin-bottom: 3em;
        display: none;
    }

    .roadmap-box {
        position: relative;
        background: #ffffff;
        height: auto;
        padding: 3em 0;
    }

    .roadmap-box:after {
        position: absolute;
        content: "";
        background: #B0B0B0;
        width: 2px;
        height: 100%;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
    }

    .globe-box {
        width: 90px;
        top: 0px;
        display: none;
    }

    .map-info-box {
        display: flex;
        align-items: center;
        padding: 0 1em;
        margin-bottom: 3em;
    }

    .map-info-box:nth-of-type(even) .number-box {
        order: 2;
        text-align: left;
        padding-left: 3em;
        padding-right: 0;
        box-sizing: border-box;
    }

    .map-info-box:nth-of-type(even) .map-content-box {
        order: 1;
        padding-left: 0;
        padding-right: 2em;
        text-align: right;
    }

    .map-info-box .number-box {
        width: 50%;
        text-align: right;
        padding-right: 3em;
        box-sizing: border-box;
    }

    .map-info-box span.number {
        position: relative;
        display: inline-block;
        width: 100px;
        height: 100px;
        background: #ffffff;
        border: #870bfe 10px solid;
        border-radius: 50%;
        text-align: center;
        line-height: 80px;
        font-size: 40px;
        font-weight: 700;
        color: black;
        -webkit-text-fill-color: white;
        /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }

    .map-info-box:nth-of-type(odd) span.number:after {
        position: absolute;
        content: "";
        border-left: #870bfe 20px solid;
        border-top: 13px solid transparent;
        border-bottom: 13px solid transparent;
        right: -25px;
        top: 28px;
    }

    .map-info-box:nth-of-type(even) span.number:after {
        position: absolute;
        content: "";
        border-right: #870bfe 20px solid;
        border-top: 13px solid transparent;
        border-bottom: 13px solid transparent;
        left: -25px;
        top: 28px;
    }

    .map-content-box {
        position: relative;
        padding-left: 2em;
        width: calc(100% - 50%);
    }

    .map-info-box:nth-of-type(odd) span.number:before {
        position: absolute;
        content: "";
        width: 30px;
        height: 30px;
        background: #ffffff;
        border: #B0B0B0 7px solid;
        border-radius: 50%;
        right: -73px;
        top: 26px;
        z-index: 11;
    }

    .map-info-box:nth-of-type(even) span.number:before {
        position: absolute;
        content: "";
        width: 30px;
        height: 30px;
        background: #ffffff;
        border: #B0B0B0 7px solid;
        border-radius: 50%;
        left: -73px;
        top: 26px;
        z-index: 11;
    }


    .map1,
    .map2,
    .map3,
    .map4 {
        position: relative;
        left: inherit;
        top: inherit;
        padding-bottom: 0;
        right: inherit;
        bottom: inherit;
    }

    .map1:after,
    .map1:before,
    .map2:after,
    .map2:before,
    .map3:after,
    .map3:before,
    .map4:after,
    .map4:before {
        display: none;
    }

    .map-content-box>h5 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .map-content-box>p {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 0;
    }


    .flag-box {
        display: none;
        position: relative;
        right: inherit;
        top: inherit;
        text-align: center;
        padding-bottom: 25px;
    }

    .flag-box>img {
        position: relative;
        right: -47px;
    }

    ul.social-links>li {
        margin: 0 10px;
    }

    ul.social-links>li>a {
        font-size: 25px;
    }

    .cta-info-box {
        text-align: center;
    }

    .call-to-action-section {
        padding-top: 2em;
    }

    .cta-info-box h5 {
        font-size: 25px;
        text-align: center;
    }

    .footer-logo {
        text-align: center;
        margin-bottom: 2em;
    }

    ul.footer-social-links {
        text-align: center;
    }

    .we-do-box-wrap {
        padding: 2em 0;
    }

    .we-do-box-wrap .we-do-img-box>figure {
        text-align: center;
    }

    .we-do-box-wrap .we-do-img-box>figure>img {
        width: 60%;
    }

    .we-do-info-box>h5 {
        font-size: 20px;
    }

    .we-do-info-box>p,
    .why-choose-info-box>p {
        font-size: 14px;
        line-height: 22px;
    }

    .we-do-info-box>a.app-blue-btn {
        padding: 11px 35px;
    }

    .roadmap-section .heading-group p {
        font-size: 15px;
        font-weight: 400;
    }

    .why-choose-info-box {
        padding: 0 0;
    }

    .why-choose-info-box>h5 {
        font-size: 16px;
    }


}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .navbar-toggler {
        background: #ffffff;
    }

    .text-end {
        display: none;
    }

    .why-choose-info-box {
        padding: 0 0;
    }

    .we-do-info-box {
        padding-left: 2em;
    }

    .we-do-box-section>.we-do-box-wrap:nth-of-type(even) .we-do-info-box {
        padding-right: 2em;
        padding-left: 0;
    }

    .globe-box {
        width: 90px;
        top: -30px;
    }

    .flag-box {
        position: absolute;
        right: 60px;
        top: 44px;
    }

    .map1 {
        left: 30px;
        top: 120px;
    }

    .map2 {
        left: 210px;
        bottom: 22px;
    }

    .map3 {
        left: 350px;
        top: 43px;
    }

    .map4 {
        right: 70px;
        bottom: 60px;
    }

    .map-info-box span.number {
        display: none;
    }
}

@media only screen and (min-width: 992px) and (max-width:1199px) {

    #header ul.navbar-nav>li.nav-item {
        margin: 0 8px;
    }

    .map-info-box span.number {
        display: none;
    }

}

@media only screen and (min-width: 1200px) {

    .map-info-box span.number {
        display: none;
    }

}
